.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 10rem;  
}
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

  }
  .form {

    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .form-actions {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #FFCC99;
    color: #1c3442;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 0.5rem;
  }
  
  button:hover {
    opacity: 0.9;
  }
  label,h1 {
    color: white;
  }